
*{
    font-family:"Red Hat Display",Tahoma, sans-serif;
    font-size:18px;
}
h4 {
    font-size:30px;
}
p {
    font-size:16px;
    text-align: justify;
}


body{

    margin:auto;
    font-size:18px;
    line-height: 1.6em;

}

.navbar{
    width: 100%;
    height:80px;
    display:inline-block;
    opacity:80%;
    position:fixed;
    color:#203492;
    background-color:rgb(255, 255, 255);
}
.navbar button{
    box-sizing: border-box;
    position:static;
    float:right;
    color:white;
    background-color:#203492 ;
    margin-top: 12px;
    margin-right:20px;
    margin-bottom: 12px;
    margin-left:40px;
}
.button a{
    background-color: #203492;
    padding-top: 12px;
    padding-right:20px;
    padding-bottom: 12px;
    padding-left:20px;
    color:white;
    text-decoration: none;

}
.proof-section{
    width:100%;
    height:80px;
    display:inline-block;
    
}
.footer .contact a{
    text-decoration: none;
    width:35%;

  
}
a{
    text-decoration: none;
    color:#203492;
}
a:visited{
    text-decoration: none;
    color:#203492;
}
a:active{
    text-decoration: none;
    color:#203492;
}
.footer .explore a {
    text-decoration: none;

    width:35%;
}
.payment img{
    width:50px;
    margin:30px;
    height:50px;
}




































/* .intro h4{

    text-align: left;
    margin: bottom 30px;
    font-variant: small-caps ;
}
.intro h1{
    text-align: justify;
    width:50%;
    float:right;
    margin-bottom: 30px;
}
.intro p{
    text-align:left;
    width:50%;
    margin-bottom:30px;
    float:right;
}
.intro img{
    position:static;
    float:left;
    width:50%;
    height:50%;
} 

 #logo{
    float: left;
    margin:10px;
    padding: 3px;
} */